@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
  font-family: "Oswald", Arial;
  background-color: rgb(40, 40, 40);
}

.App {
  text-align: center;
}

.card {
  width: 100%;
  margin-bottom: 20px;
}
