@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
  font-family: "Oswald", Arial;
  background-color: rgb(40, 40, 40);
}

.App {
  text-align: center;
  padding-top: 50px;
}

.card {
  width: 100%;
  margin-bottom: 20px;
}

.modalComments {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.95;
}

.modalCommentsBody {
  background-color: rgba(0, 0, 0, 0.25);
}

.commentBlock {
  margin: 1px;
}

.dateComment {
  color: gray;
  font-size: smaller;
  align-content: right;
  float: right;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
}
